
@{
    ViewBag.Title = "Thêm danh mục sản phẩm";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

@using BMT_DATN.Models;

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $('a[name="qldmsp_menu"]').html("<b>>>DANH MỤC SẢN PHẨM</b>");
    $('a[name="qldmsp_menu"]').css("color", "red");
    $(document).ready(function () {
        $('#btnThemDanhMuc').click(function () {
            //alert("3");
            var cateName = $("#categoryName").val();
            var cateDescription = $("#categoryDescription").val();
            var obj = {
                categoryName: cateName,
                categoryDescription: cateDescription
            }
            $.ajax({
                type: 'POST',
                url: '@Url.Action("AdminThemDanhMucSanPham", "Category")',
                data: JSON.stringify(obj),
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',

                beforeSend: function () {

                },
                success: function (response) {
                    var valueReturn = response;
                    alert(valueReturn.msg);
                    if (valueReturn.rdt == "1") {
                        window.location.href = '@Url.Action("QuanLyDanhMucSanPham", "Category")';
                    }

                },
                failure: function (response) {
                    alert("fail");
                },
                complete: function () {

                },
                error: function (xhr, status, error) {
                    var err = eval("(" + xhr.responseText + ")");
                    alert(err.Message);
                },
            });
        });
    });
</script>

<div class="admin_content_area">
    <h2>QUẢN LÝ DANH MỤC SẢN PHẨM - THÊM DANH MỤC SẢN PHẨM</h2>
    <div class="m-auto AdminForm">
        <span class="h4 mb-0">Nhập các thông tin</span>
        <div style="padding:10px 0px 20px 0px;">
            <label>Tên danh mục sản phẩm:</label> <br />
            <input type="text" style="width:100%;" name="categoryName" id="categoryName" required />
        </div>
        <div>
            <label for="categoryDescription">Mô tả:</label> <br />
            <textarea rows="10" style="width:100%;" name="categoryDescription" id="categoryDescription"></textarea>
        </div>
        <div class="col-12 d-flex justify-content-end">
            <div>
                <button type="button" class="ml-auto btn hvr-hover mr-2" style="color:#ffffff" name="btnThemDanhMuc" id="btnThemDanhMuc">Thêm mới</button>
            </div>
            <div>
                <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" onclick="history.back()">Hủy</button>
            </div>
        </div>
    </div>  

    @*<div>
            <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" name="btnThemDanhMuc" id="btnThemDanhMuc">Thêm mới</button>
        </div>*@
</div>

