
@{
    ViewBag.Title = "Về cửa hàng";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="banner">
    <img src="~/Image/layout/panda_banner_04.jpg" />
    <div class="container">

    </div>
</div>
<div class="about-box-main">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <h2 class="noo-sh-title">Chúng tôi là <span>Panda Shop</span></h2>
                <p>
                    Xuất phát từ những người tiếp xúc nhiều với các sản phẩm liên quan đến giày, từ những kinh nghiệm kinh doanh các mặt hàng, chúng tôi hiểu được tâm lý của các bạn khi muốn mua sẳm các sản phẩm này. Và hơn hết, chúng tôi biết được đâu là những loại giày phù hợp với từng người, từng cá tính, từng độ tuổi.
                    Hiện nay trên thị trường bên ngoài có rất nhiều cửa hàng bán giày patin, giày thể thao với nhiều mẫu mã khác nhau giá từ vài trăm nghìn đến vài chục triệu. Việc lựa chọn được một đôi giày phù hợp với túi tiền và đôi chân của bạn thật sự là điều khó khăn.
                    Nắm bắt được những điều đó cùng với kinh nghiệm sử dụng và quan sát học viên trong quá trình giảng dạy, chúng tôi sẽ hỗ trợ tư vấn cho bạn lựa chọn được một đôi giày phù hợp với mình nhất.
                    Shop luôn cập nhật những mẫu giày mới nhất và phù hợp nhất với tất cả mọi người. Ngoài ra cửa hàng còn hỗ trợ ship COD trên toàn quốc với các khách hàng ở xa.
                </p>
                <p>
                    PandaShop luôn cố gắng là cửa hàng tiên phong trong lĩnh vực cung cấp sỉ & lẻ các loại giày patin và giày thể thao, đồng thời là nơi thúc đẩy phát kinh doanh các sản phẩm giày ở Việt Nam… Chúng tôi hy vọng sẽ đem đến những sản phẩm hữu ích đến cộng đồng người tiêu dùng Việt.
                </p>
            </div>
            <div class="col-lg-6">
                <div class="banner-frame">
                    <img class="img-thumbnail img-fluid" src="~/Image/layout/ghe_tham_panda_shop.jpg" alt="" />
                </div>
            </div>
        </div>
        <div class="row my-5">
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Cam kết</h3>
                    <p>Cam kết mang đến các sản phẩm và dịch vụ chất lượng, mang lại giá trị gia tăng và giải quyết vấn đề của khách hàng. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Chuyên nghiệp</h3>
                    <p>Phát triển đội ngũ nhân viên, đảm bảo khách hàng mua hàng luôn cảm thấy thoải mái nhất. </p>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4">
                <div class="service-block-inner">
                    <h3>Phát triển</h3>
                    <p>Không ngại khó khăn, luôn cố gắng từng ngày. Mang đến cho khách hàng những sản phẩm chất lượng nhất. </p>
                </div>
            </div>
        </div>
    </div>
</div>