
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/layout.cshtml";
}

<div class="home-content row">
    <div class="col-md-3 border">one</div>
    <div class="col-md-4 border border-danger">two</div>
    <div class="col-md-2 border border-dark">three</div>
    <div class="col-md-3 border border-info">four</div>
</div>