
@{
    ViewBag.Title = "Xem nhà cung cấp";
    Layout = "~/Views/Shared/layout_admin.cshtml";
}

@using BMT_DATN.Models;

<script src="~/Theme/js/jquery-3.2.1.min.js"></script>
<script>
    $('a[name="qlncc_menu"]').html("<b> &#9205; NHÀ CUNG CẤP</b>");
    $('a[name="qlncc_menu"]').css("color", "red");
    $(document).ready(function () {
    });
</script>
<div class="admin_content_area">
    <h2>QUẢN LÝ NHÀ CUNG CẤP - XEM THÔNG TIN NHÀ CUNG CẤP</h2>
    <div>
        @{
            int maNCC = ViewBag.maNhaCungCap;
            BMT_DATNEntities db = new BMT_DATNEntities();
            var infoNhaCungCap = (from ncc in db.tblNhaCungCaps
                                 where ncc.PK_MaNhaCungCap == maNCC
                                 select  ncc).FirstOrDefault();
        }
        <table class="table table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Nội dung</th>
                    <th>Thông tin</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tên nhà cung cấp</td>
                    <td>@infoNhaCungCap.TenNhaCungCap</td>
                </tr>
                <tr>
                    <td>Địa chỉ</td>
                    <td>@infoNhaCungCap.DiaChi</td>
                </tr>
                <tr>
                    <td>Số điện thoại</td>
                    <td>@infoNhaCungCap.SoDienThoai</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div>
        <button type="button" class="ml-auto btn hvr-hover" style="color:#ffffff" onclick="history.back()">Quay lại</button>
    </div>
</div>